body{
  margin: 0;
  padding: 0;
}

header{
    display: flex;
    position: fixed;
    background: rgb(255, 0, 119);
    color: aqua;
    height: 50px;
    width: 100%;
    margin: auto;
    padding: 50px 10px;
    z-index: 1;
    box-sizing: border-box;

    }
.header-menu{
  display: flex;
  align-items: center;
  font-size: 32px;
  margin: 0;
  list-style: none;
  gap: 20px
  }
.header-menu a {
    text-decoration: none;
}
h1{
  font-size: 40px;
  scroll-margin-top: 150px;
  align-items: center;
  


}
content{
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  margin: auto;
  background-color: rgba(224, 238, 153, 0.5);
  width: 1000px;
  height: 2000px;
  gap: 100px;
}
.first-section{
  width: 1000px;
  height: 950px;
  display: block;
}
.second-section{
  width: 1000px;
  height: 950px;
  display: block;
}